<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_tags %}

<!-- Указываем название в зависимости от типа контента -->
{% block title %}
    {{ type_content }}
{% endblock title %}

<!-- Показываем текст страницы в зависимости от контента -->
{% block title_page_top %}
<h1> {{ create_content }} </h1>
{% endblock title_page_top %}

<!-- Показываем форму создания контента -->
{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="data-form">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form %}
        <label class="label-form"> {{ field.label }} </label>
        <div class="field-form"> {{ field }} </div>
    {% endfor %}
<!-- Показываем поле добавления новых картинок -->
    {{ form_images.management_form }}
        {% for form in form_images %}
            {{ form }}
        {% endfor %}
<!-- Показываем поле уже загруженных фотографий -->
    <div class="container">
        <h2 class="heading-text"><span>{{ title_post_images }}</span></h2>
        <ul class="image-gallery">
            {% for photo in post_images %}
                <li>
                    {% video_or_image photo as file %}
                    {% if file %}
                        <img src="{{ photo }}" alt="" />
                        <div class="overlay-number"><span>{{ forloop.counter }}</span></div>
                    {% else %}
                        <video width="425" height="320" controls>
                            <source src="{{ photo }}" type="video/mp4">
                            <source src="{{ photo }}" type="video/mpeg">
                            Ваш браузер не поддерживает тег video.
                        </video>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% block filters_button%}
        <button id="buttonForm" class="button-form" type="submit">Сохранить</button>
    {% endblock filters_button %}
</form>
{% endblock content %}

<!-- Указываем данные в подвале страницы -->
{% block date_copyright %}
© Студия разработки «ROSSVIK MOSCOW» {% current_time '%Y' %}
{% endblock date_copyright %}