<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
Новости и статьи
{% endblock title %}

{% block title_page_top %}
<h1>НОВОСТИ</h1>
{% endblock title_page_top %}

{% block date %}
<h1> {% current_time '%d.%m.%Y' %} ( {{ posts|length }} )</h1>
{% endblock date %}
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<div id="news">
    {% if posts %}
        {% for post in posts %}
            <div class="glass-container-news">
                <p>
                    <h2> {{ post.title_post }} </h2>
                    <br>
                    <h3> {{ post.time_in_post|date:'d M Y' }} </h3>
                    <br>
                    <h4> {{ post.text_post|truncatechars:20 }} </h4>
                </p>
            </div>
        {% endfor %}
   {% else %}
       <h3>Новостей нет!</h3>
   {% endif %}
</div>
{% endblock content %}