<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
	    <title>
            Document
        </title>
        {% load static %}
        {% load custom_filters %}
        {% load custom_tags %}
        <script src="{% static 'js/script.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div id="myHeader" class="main-menu">
                    <span id="bellLogo">
                        <img src="{% static 'images/logo_rossvik.png' %}"
                             onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                             onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                    </span>
                </div>
            </header>
            <aside>
                <h2>{{text_title}}</h2>
            </aside>
            <section>
                {% for category in categories %}
                <h3>Список статей в категории {{category.name_category}}:</h3>
                    {% for post in category.list_posts %}
                        <h4><a href="{{ post.url_post }}">{{post.title_post}}</a></h4>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
	    <footer class="page-footer">
            <div id="logoWhite" class="logoWhiteFooter">
                <img src="{% static 'images/logo_rossvik_white.png' %}">
            </div>
            <div class="footerText">
                <span class="headerFooter">
                    © Студия разработки «ROSSVIK MOSCOW» {% current_time '%Y' %}
                </span>
                <span class="contactFooter">
                        +7-977-900-7773 сотовый<br>
                        +7-495-215-0003 многоканальный<br>
                        +7-800-333-2260 бесплатные звонки по России<br>
                        E-mail: iv@rossvik.moscow<br>
                </span>
            </div>
        </footer>
    </body>
</html>