{% if widget.is_initial %}{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>{% if not widget.required %}
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}{% if widget.attrs.checked %} checked{% endif %}>
<label for="{{ widget.checkbox_id }}" >{{ widget.clear_checkbox_label }}</label>{% endif %}<br>
{{ widget.input_text }}:{% endif %}

  <label for="images" class="drop-container" id="dropcontainer">
    <span class="drop-title">Перенеси фото сюда</span>
    или
    <input type="{{ widget.type }}" name="{{ widget.name }}" id="images" accept="image/*, video/*" required {% include "django/forms/widgets/attrs.html" %}>
    <div id="gallery"></div>
  </label>

// Зона перетаскивания файлов для загрузки
<script>
  const dropContainer = document.getElementById("dropcontainer");
  const fileInput = document.getElementById("images");
  const gallery = document.getElementById('gallery');
  const error = document.createElement('span');
  error.style.fontSize = "200%";
  error.appendChild(document.createTextNode('Вы не можете загружать больше 10 изображений!'));

  dropContainer.addEventListener("dragover", (e) => {
    // prevent default to allow drop
    e.preventDefault()
  }, false)

  dropContainer.addEventListener("dragenter", () => {
    dropContainer.classList.add("drag-active")
  })

  dropContainer.addEventListener("dragleave", () => {
    dropContainer.classList.remove("drag-active")
  })

  dropContainer.addEventListener("drop", (e) => {
    e.preventDefault()
    dropContainer.classList.remove("drag-active")
    fileInput.files = e.dataTransfer.files;
    updateImageDisplay();
  })

  function createImage(file) {
    const imageObjectUrl = URL.createObjectURL(file);
    const imgElement = document.createElement('img');
    imgElement.style.maxWidth = '150px';
    imgElement.src = imageObjectUrl; // каждому изображению свойственно иметь свой URL
    gallery.appendChild(imgElement); // галерея пополняется с каждой новой загрузкой
    URL.revokeObjectURL(file);
    }

   function createVideo(file) {
    const videoObjectUrl = URL.createObjectURL(file);
    const videoElement = document.createElement('video');
    videoElement.style.maxWidth = '150px';
    videoElement.setAttribute('controls', '');
    videoElement.setAttribute('loop', 'true');
    videoElement.src = videoObjectUrl; // каждому изображению свойственно иметь свой URL
    gallery.appendChild(videoElement); // галерея пополняется с каждой новой загрузкой
    videoElement.play();
    URL.revokeObjectURL(file);
    }

  function updateImageDisplay() {
    if (fileInput.files.length <= 10) {
      // очищаем галерею от прежних миниатюр
      gallery.innerHTML = '';

      for(const file of fileInput.files) {
        const type = file.type.replace(/\/.+/, '')
        if (type === 'image') {
          createImage(file)
        } else if (type === 'video') {
          createVideo(file)
        }
      }
    } else {
          gallery.innerHTML = ''; // очищаем галерею от прежних миниатюр
          gallery.appendChild(error);
          fileInput.value = '';
    }
  }

  fileInput.addEventListener('change', updateImageDisplay);

</script>