<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
	    <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% load static %}
        <script src="{% static 'js/script.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        <div id="myNav" class="overlay">
            <div id="myHeaderOverlay" class="main-menuOverlay">
                <div id="logoOverlay" class="logoHeaderOverlay">
                    <img src="{% static 'images/logo_rossvik.png' %}">
                </div>
                <ul>
                    <li><a href="/home/">ГЛАВНАЯ</a></li>
                    <li><a href="#">КАТЕГОРИИ</a></li>
                    <li><a href="/news/">НОВОСТИ</a></li>
                    <li><a href="/warranty/">ГАРАНТИЯ</a></li>
                    <li><a href="/contacts/">КОНТАКТЫ</a></li>
                </ul>
                <div class="search-container-overlay">
                    <input type="text" name="q" placeholder="Поиск" class="search-text-overlay">
                    <button type="button">&#128269;</button> <!-- Иконка увеличительного стекла -->
                </div>
            </div>
            <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="#">О Нас</a>
                <a href="#">Услуги</a>
                <a href="#">Клиенты</a>
                <a href="#">Контакт</a>
            </div>
        </div>

        <div id="wrapper">
            <header>
                <div id="myHeader" class="main-menu">
                    <div id="logo" class="logoHeader">
                        <img src="{% static 'images/logo_rossvik.png' %}">
                    </div>
                    <ul>
                        <li><a href="/home/">ГЛАВНАЯ</a></li>
                        <li><a href="#" onmouseover="openNav()">КАТЕГОРИИ</a></li>
                        <li><a href="/news/">НОВОСТИ</a></li>
                        <li><a href="/warranty/">ГАРАНТИЯ</a></li>
                        <li><a href="/contacts/">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="search-container">
                        <input type="text" name="q" placeholder="Поиск" class="search-text">
                        <button type="button">&#128269;</button> <!-- Иконка увеличительного стекла -->
                    </div>
                </div>
            </header>
            <aside>
                {% block title_page_top %}
                {% endblock title_page_top %}
                {% block date %}
                {% endblock date %}
            </aside>
            <section>
                {% block content %}
                {% endblock content %}
            </section>
        </div>
	    <footer class="page-footer">
            <div id="logo_white">
                <a><img src="{% static 'images/logo_rossvik_white.png' %}"></a>
            </div>
            <div id="footer_text">
                <h5><b>Студия разработки "ROSSVIK MOSCOW"<br></b></h5>
                <br>
                <h6>
                    <b>
                        +7-977-900-7773 сотовый<br>
                        +7-495-215-0003 многоканальный<br>
                        +7-800-333-2260 бесплатные звонки по России<br>
                        E-mail: visfin@yandex.ru<br>
                    </b>
                </h6>
            </div>
        </footer>
    </body>
</html>