<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
	    <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% load static %}
        <script src="{% static 'js/script.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        <div id="myNav" class="overlay">
            <div id="myHeaderOverlay" class="main-menuOverlay">
                <span id="bellLogoOverlay">
                    <img src="{% static 'images/logo_rossvik.png' %}"
                         onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                         onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                </span>
                <ul>
                    <li><a href="/home/">ГЛАВНАЯ</a></li>
                    <li><a href="#">КАТЕГОРИИ</a></li>
                    <li><a href="/news/">НОВОСТИ</a></li>
                    <li><a href="/warranty/">ГАРАНТИЯ</a></li>
                    <li><a href="/contacts/">КОНТАКТЫ</a></li>
                </ul>
                <div class="search-container">
                    <input type="text" name="q" placeholder="Поиск" class="search-text">
                    <button type="button">❌</button>
                </div>
            </div>
            <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="#">О Нас</a>
                <a href="#">Услуги</a>
                <a href="#">Клиенты</a>
                <a href="#">Контакт</a>
            </div>
        </div>

        <div id="wrapper">
            <header>
                <div id="myHeader" class="main-menu">
                    <span id="bellLogo">
                        <img src="{% static 'images/logo_rossvik.png' %}"
                             onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                             onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                    </span>
                    <ul>
                        <li><a href="/home/">ГЛАВНАЯ</a></li>
                        <li><a href="#" onmouseover="openNav()">КАТЕГОРИИ</a></li>
                        <li><a href="/news/">НОВОСТИ</a></li>
                        <li><a href="/warranty/">ГАРАНТИЯ</a></li>
                        <li><a href="/contacts/">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="search-container">
                        <input type="text" name="q" placeholder="Поиск" class="search-text">
                        <button type="button">❌</button>
                    </div>
                </div>
            </header>
            <aside>
                {% block title_page_top %}
                {% endblock title_page_top %}
                {% block date %}
                {% endblock date %}
            </aside>
            <section>
                {% block content %}
                {% endblock content %}
            </section>
        </div>
	    <footer class="page-footer">
            <div id="logoWhite" class="logoWhiteFooter">
                <img src="{% static 'images/logo_rossvik_white.png' %}">
            </div>
            <div class="footerText">
                <span class="headerFooter">
                    {% block date_copyright %}
                    {% endblock date_copyright %}<br>
                </span>
                <span class="contactFooter">
                        +7-977-900-7773 сотовый<br>
                        +7-495-215-0003 многоканальный<br>
                        +7-800-333-2260 бесплатные звонки по России<br>
                        E-mail: iv@rossvik.moscow<br>
                </span>
            </div>
        </footer>
    </body>
</html>