<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
	    <title>
            {% load custom_filters %}
            {% load custom_tags %}
            {% block extra_head %}
            {% endblock extra_head %}
        </title>
        {% load static %}
        {% load cache %}
        <script src="{% static 'js/script.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        {% cache 300 overlay-error %}
            <div id="myNav" class="overlay">
                <div id="myHeaderOverlay" class="main-menuOverlay">
                    <span id="bellLogoOverlay">
                        <img src="{% static 'images/logo_rossvik.png' %}"
                             onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                             onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                    </span>
                    <ul>
                        <li><a href="/home/">ГЛАВНАЯ</a></li>
                        <li><a href="#">КАТЕГОРИИ</a></li>
                        <li><a href="/news/">НОВОСТИ</a></li>
                        <li><a href="/articles/">СТАТЬИ</a></li>
                        <li><a href="/contacts/">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="search-container-overlay">
                        <input type="text" name="q" placeholder="Поиск" class="search-text">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="{% url 'category_post_list' value=1 %}">Свежее</a>
                    <a href="{% url 'category_post_list' value=3 %}">Популярное</a>
                    <a href="{% url 'category_post_list' value=5 %}">Интернет</a>
                    <a href="{% url 'category_post_list' value=6 %}">Спорт</a>
                    <a href="{% url 'category_post_list' value=7 %}">Культура</a>
                    <a href="{% url 'category_post_list' value=8 %}">Политика</a>
                    <a href="{% url 'category_post_list' value=9 %}">Общество</a>
                    <a href="{% url 'category_post_list' value=10 %}">Наука и технологии</a>
                    <a href="{% url 'category_post_list' value=11 %}">Происшествия</a>
                    <a href="{% url 'category_post_list' value=12 %}">Экономика</a>
                    <a href="{% url 'category_post_list' value=13 %}">Религия</a>
                    <a href="{% url 'category_post_list' value=14 %}">Автомобили</a>
                    <a href="{% url 'category_post_list' value=15 %}">Шоу-бизнес</a>
                    <a href="{% url 'category_post_list' value=16 %}">Живая природа</a>
                    <a href="{% url 'category_post_list' value=17 %}">Экология</a>
                </div>
            </div>
        {% endcache %}
        <div id="myFilter" class="filter">
            {% cache 300 filter-logo-error %}
                <div id="myFilterLogo" class="filter-logo">
                    <span id="bellLogoFilter">
                        <img src="{% static 'images/logo_rossvik.png' %}"
                             onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                             onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                    </span>
                </div>
            {% endcache %}
            <a href="javascript:void(0)" class="closeBtnFilter" onclick="closeFilter()">&times;</a>
            <div class="filter-content">
                {% block filters %}
                {% endblock filters %}
            </div>
            <div id="myFilterButton" class="filter-button">
                {% block filters_button %}
                {% endblock filters_button %}
            </div>
        </div>

        <div id="wrapper">
            {% cache 300 header-error %}
                <header>
                    <div id="myHeader" class="main-menu">
                        <span id="bellLogo">
                            <img src="{% static 'images/logo_rossvik.png' %}"
                                 onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                                 onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                        </span>
                        <ul>
                            <li><a href="/home/">ГЛАВНАЯ</a></li>
                            <li><a href="#" onmouseover="openNav()">КАТЕГОРИИ</a></li>
                            <li><a href="/news/">НОВОСТИ</a></li>
                            <li><a href="/articles/">СТАТЬИ</a></li>
                            <li><a href="/contacts/">КОНТАКТЫ</a></li>
                        </ul>
                        <div class="search-container">
                            <input type="text" name="q" placeholder="Поиск" class="search-text">
                            <button type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </header>
            {% endcache %}
            <aside>
                {% block title_page_top %}
                    <h1> Ошибка приложения </h1>
                {% endblock title_page_top %}
            </aside>
            <section>
                <div class="allauth-form-class">
                    {% block body %}
                    <div class="allauth-content-class">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    {% endblock body %}
                </div>
                <div class="allauth-extra_body-class">
                    {% block extra_body %}
                    {% endblock extra_body %}
                </div>
            </section>
        </div>
        {% cache 300 footer-error %}
            <footer class="page-footer">
                <div id="logoWhite" class="logoWhiteFooter">
                    <img src="{% static 'images/logo_rossvik_white.png' %}">
                </div>
                <div class="footerText">
                    <span class="headerFooter">
                        © Студия разработки «ROSSVIK MOSCOW» {% current_time '%Y' %}<br>
                    </span>
                    <span class="contactFooter">
                            +7-977-900-7773 сотовый<br>
                            +7-495-215-0003 многоканальный<br>
                            +7-800-333-2260 бесплатные звонки по России<br>
                            E-mail: iv@rossvik.moscow<br>
                    </span>
                </div>
            </footer>
        {% endcache %}
    </body>
</html>