html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: 'Oswald';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    line-height: 1;
	color: #000000;
	font: 12px 'Oswald';
	margin: 0;
	background-color: #ffffff;
	}

p {
	margin: 20px 0;
	}
/* Верстка поля поиска */
.search-container {
    margin-top: 0.8vw;
    max-height: 2.5vw;
    max-width: 25vw;
    display: flex;
    border-radius: 10px;
    pointer-events:auto;
}
.search-container input {
    max-height: 2.5vw;
    max-width: 25vw;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px double black;
    font-size: 1.5vw;
    padding: 5px;
    pointer-events:auto;
}
.search-container button {
    width: fit-content;
    height: 2.5vw;
    padding: 0vw 0.4vw;
    cursor: pointer; /* Курсор в виде указателя */
    pointer-events:auto;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px double black;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
	font: sans-serif;
	font-size: 1vw;
}

.search-container button svg {
    color: #ffffff;
}

.search-container-overlay button svg {
    color: #ffffff;
}

.search-container button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: radial-gradient(ellipse, rgba(0, 128, 196, 1), rgba(0, 128, 196, 0.1));
}

.search-container button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background: radial-gradient(ellipse, rgba(255, 149, 25, 1), rgba(255, 149, 25, 0.1));
}

.search-container-overlay {
    margin-top: 0.8vw;
    max-height: 2.5vw;
    max-width: 25vw;
    display: flex;
    border-radius: 10px;
    pointer-events:auto;
}
.search-container-overlay input {
    max-height: 2.5vw;
    max-width: 25vw;
    flex-grow: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px double black;
    font-size: 1.5vw;
    padding: 5px;
    pointer-events:auto;
}
.search-container-overlay button {
    width: fit-content;
    height: 2.5vw;
    padding: 0vw 0.4vw;
    cursor: pointer; /* Курсор в виде указателя */
    pointer-events:auto;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px double black;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
	font: sans-serif;
	font-size: 1vw;
}

.search-container-overlay button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: radial-gradient(ellipse, rgba(0, 128, 196, 1), rgba(0, 128, 196, 0.1));
}

.search-container-overlay button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background: radial-gradient(ellipse, rgba(255, 149, 25, 1), rgba(255, 149, 25, 0.1));
}
/* Верстка верхнего меню */
#wrapper {
    display: block;
	width: 100%;
	}

.main-menu {
    max-height: 5vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    background-color: #000000;
	pointer-events:none;
	}

.main-menuOverlay {
    max-height: 5vw;
    max-width: 100%;
    position: sticky;
    display: grid;
    grid-template-columns: 20vw 50vw 30vw;
    background-color: #000000;
	pointer-events:none;
	}

#bellLogo img {
   max-height: 4.7vw;
   max-width: 100%;
   pointer-events:auto;
}

#bellLogoOverlay img {
   max-height: 4.7vw;
   max-width: 100%;
   pointer-events:auto;
}

#bellLogoFilter img {
   max-height: 4.7vw;
   max-width: 100%;
   pointer-events:auto;
}

.main-menu ul {
    max-height: 4.7vw;
    max-width: 100%;
    text-align: center;
    pointer-events:auto;
    }

.main-menuOverlay ul {
    max-height: 4.7vw;
    max-width: 100%;
    text-align: center;
    pointer-events:auto;
    }

.main-menu ul li {
    margin: auto;
    max-height: 4.7vw;
    max-width: 100%;
    display: inline-block;
    padding: 1vw;
    }

.main-menuOverlay ul li {
    margin: auto;
    max-height: 4.7vw;
    max-width: 100%;
    display: inline-block;
    padding: 1vw;
    }

.main-menu ul li a {
    display: block;
    margin-top: 0;
    max-height: 4.7vw;
    max-width: 100%;
    padding: 0.5vw;
    background-color: #000000;
    color: #fff;
	font: Oswald;
	font-size: 1.3vw;
	text-decoration: none;
    }

.main-menuOverlay ul li a {
    display: block;
    margin-top: 0;
    max-height: 4.7vw;
    max-width: 100%;
    padding: 0.5vw;
    background-color: #000000;
    color: #fff;
	font: Oswald;
	font-size: 1.3vw;
	text-decoration: none;
    }

.main-menu ul li a:hover {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0080c4 0%, #1f9160 46%, #ff9519 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.main-menuOverlay ul li a:hover {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0080c4 0%, #1f9160 46%, #ff9519 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

header {
    z-index: 1499;
    position: -webkit-sticky;
    position: sticky;
    border-top: 5px solid #7e7e7e;
    top: 0;
    max-height: 5vw;
    max-width: 100%;
}
/* Верстка заголовка и кнопки фильтра */
aside {
    z-index: 1499;
    position: -webkit-sticky;
    position: sticky;
    top: 5.23vw;
    display: grid;
    grid-template-columns: auto 6vw 80vw;
    justify-content: left;
	background-color: #000000;
	}

aside svg {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px groove black;
    margin-left: 0.5vw;
    padding: 0.8vw 0.8vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    color: #fff;
    max-width: 50px;
}

aside svg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: rgba(62, 214, 148, 0.1);
    color: rgba(0, 128, 196, 1);
}

aside h1 {
	display: inline-block;
	color: #f3f3f3;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.8vw;
	margin-top: 12px;
	padding: 0 10px;
	}
/* Верстка шрифтов */
h1 {
	display: inline-block;
	color: #f3f3f3;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2vw;
	margin: 0;
	padding: 0 10px;
	}

h2 {
	display: inline-block;
	color: #f3f3f3;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5vw;
	margin: 0;
	padding: 0 10px;
	}

h3 {
	display: inline-block;
	color: #f3f3f3;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.4vw;
	margin: 0;
	padding: 0 10px;
	}

h4 {
	display: inline-block;
	color: #f3f3f3;
	font-family: 'Times New Roman', Times, serif;
	font-size: 0.8vw;
	margin: 0;
	padding: 0 10px;
	}
/* Верстка отображения контента */
section {
    background-color: #000000;
    }

.glass-container-news {
    display: grid;
    grid-template-columns: 1fr;
    background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    width: 100%;
    max-width: 320px;
    }

.glass-container-news:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.7);
    }

#news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-evenly;
    }

#content {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000000;
    }

.glass-container-new {
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  backdrop-filter: blur(20px); /* Эффект матового стекла */
  }
/* Верстка футера */
.page-footer {
    max-height: 7vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    background-image: url('tetris.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20vw;

}

.page-footer .fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.logoWhiteFooter img {
    max-height: 7vw;
    max-width: 100%;
	}

.footerText {
    color: #042552;
	margin-left: 15vw;
	padding: 0 10px;
    }

.headerFooter {
    font-size: 1.5vw;
    font-weight: bold;
    }

.contactFooter {
    font-size: 1vw;
    font-weight: bold;
    }
/* Верстка пагинации страниц */
.pagination {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4vw, 4vw));
    grid-column-gap: 1vw;
    justify-content: center;
    max-width: 45vw;
}

.pagination a {
    text-decoration: none;
}

.pagination-number {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px groove black;
    padding: 0.8vw 1.5vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    color: #fff;
	font: sans-serif;
	font-size: 1.5vw;
    max-width: 50px;
}

.pagination-number:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: rgba(62, 214, 148, 0.1);
    color: rgba(0, 128, 196, 1);
}

.pagination-current {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(62, 214, 148, 0.6);
    background: rgba(62, 214, 148, 0.1);
    border: 3px groove black;
    color: rgba(255, 149, 25, 1);
}

.pagination-action {
    margin: 0 2px;
    display: flex;
    padding: 1px 2px;
    color: #fff;
    font-size: 1.3em;
    align-items: center;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #ff9519;
    }
/* Верстка выпадающей формы категорий */
.overlay {
  margin: auto;
  height: 0;
  width: 100vw;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  border-top: 5px solid #7e7e7e;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5vw;
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.overlay a {
  padding: 0.5vw;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closeBtn {
  position: absolute;
  top: 5vw;
  right: 2vw;
  font-size: 4vw;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closeBtn {
  font-size: 40px;
  top: 25%;
  right: 35px;
  }
}
/* Верстка выпадающей формы фильтров */
.filter {
    margin: auto;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    border-top: 5px solid #7e7e7e;
    overflow-x: hidden;
    transition: 0.5s;
}

.filter-button {
    margin: auto;
    height: 10vh;
    width: 0;
    position: fixed;
    z-index: 3000;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
    overflow-x: hidden;
    transition: 0.5s;
}

.filter a {
  padding: 0.5vw;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.filter a:hover, .filter a:focus {
    color: #f1f1f1;
}

.filter .closeBtnFilter {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 4vw;
}

@media screen and (max-height: 450px) {
    .filter a {font-size: 20px}
    .filter .closeBtn {
        font-size: 40px;
        top: 5%;
        left: 5px;
        }
}

.filter-content {
    position: relative;
    top: 3vw;
    height: 100%;
    text-align: left;
    margin-top: 0;
}

.button-filters {
    position: relative;
    max-width: 150px;
    margin-left: 9vw;
    margin-top: 0.5vw;
    grid-template-columns: 1fr;
    justify-content: center;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px groove black;
    padding: 0.8vw 2vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    color: #fff;
	font: sans-serif;
	font-size: 1.5vw;
}

.button-filters:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: rgba(62, 214, 148, 0.1);
    color: rgba(0, 128, 196, 1);
}

.button-filters:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background: radial-gradient(ellipse, rgba(255, 149, 25, 1), rgba(255, 149, 25, 0.1));
}

.label-filters {
    margin: 1vh;
    padding: 0.5vh;
    background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    border-radius: 2vh;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0080c4 0%, #1f9160 46%, #ff9519 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font: Oswald;
	font-size: 1.1vw;
}

.field-filters .category-checkbox label {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 2vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-filters .category-checkbox label:hover, .field-filters .category-checkbox label:focus {
    color: #f1f1f1;
}

.field-filters .author-checkbox label {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 2vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-filters .author-checkbox label:hover, .field-filters .author-checkbox label:focus {
    color: #f1f1f1;
}

.field-filters .title-input {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 1vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-filters .text-input {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 1vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-filters .date-lt-input {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 1vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-filters .date-gt-input {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 1vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.category-checkbox {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
    user-select: none;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}

.category-checkbox label {
    background: rgba(0,0,0,0.5);
}

.category-checkbox::before {
  display: inline-block;
  width: 5em;
  height: 5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1em;
}
/* Верстка формы создания контента */
.author-checkbox {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
    user-select: none;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}

.author-checkbox label {
    background: rgba(0,0,0,0.5);
}

.author-checkbox::before {
  display: inline-block;
  width: 5em;
  height: 5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1em;
}
/* Верстка формы добавления новости*/
.button-form {
    position: relative;
    max-width: 150px;
    margin-left: 40vw;
    margin-top: 0.5vw;
    grid-template-columns: 1fr;
    justify-content: center;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px groove black;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    color: #fff;
	font: sans-serif;
	font-size: 1.5vw;
}

.button-form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: rgba(62, 214, 148, 0.1);
    color: rgba(0, 128, 196, 1);
}

.button-form:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background: radial-gradient(ellipse, rgba(255, 149, 25, 1), rgba(255, 149, 25, 0.1));
}

.label-form {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 37vw;
    padding: 0.5vh;
    background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
    border-radius: 2vh;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #0080c4 0%, #1f9160 46%, #ff9519 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font: Oswald;
	font-size: 2vw;
}

.field-form .form-type-checkbox label {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 2vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-form .form-type-checkbox label:hover, .field-form .form-type-checkbox label:focus {
    color: #f1f1f1;
}

.field-form .form-author-checkbox label {
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 2vh;
    color: #818181;
	font: Oswald;
	font-size: 1vw;
	transition: 0.3s;
}

.field-form .form-author-checkbox label:hover, .field-form .form-author-checkbox label:focus {
    color: #f1f1f1;
}

.field-form .form-title-input {
    type: textarea;
    cols: 40;
    rows: 6:
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 20vw;
    padding: 0.5vw;
    width: 50vw;
    height: 10vw;
    border-radius: 1vh;
    color: #000000;
	font-size: 1.5vw;
	transition: 0.3s;
}

.field-form .form-text-input {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 20vw;
    padding: 0.5vh;
    width: 50vw;
    height: 40vw;
    border-radius: 1vh;
    color: #000000;
	font-size: 1.5vw;
	transition: 0.3s;
}

.form-type-checkbox {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 22.5vw;
    user-select: none;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}

.form-type-checkbox label {
    background: rgba(0,0,0,0.5);
}

.form-type-checkbox::before {
  display: inline-block;
  width: 5em;
  height: 5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1em;
}

.form-author-checkbox {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 22.5vw;
    user-select: none;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}

.form-author-checkbox label {
    background: rgba(0,0,0,0.5);
}

.form-author-checkbox::before {
  display: inline-block;
  width: 5em;
  height: 5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 1em;
}
/* Верстка кнопок добавления, редактирования и удаления контента */
.add-container {
    max-height: 2.5vw;
    max-width: 25vw;
    display: flex;
    border-radius: 10px;
    pointer-events:auto;
}

.add-container svg {
    position: relative;
    max-width: 50px;
    margin-left: 1vw;
    grid-template-columns: 1fr;
    background: radial-gradient(ellipse, rgba(62, 214, 148, 1), rgba(62, 214, 148, 0.1));
    border: 3px groove black;
    padding: 0.8vw 1vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    backdrop-filter: blur(20px); /* Эффект матового стекла */
}

.add-container svg {
    color: #ffffff;
}

.add-container svg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 128, 196, 0.7);
    background: radial-gradient(ellipse, rgba(0, 128, 196, 1), rgba(0, 128, 196, 0.1));
}

.add-container svg:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid black;
    background: radial-gradient(ellipse, rgba(255, 149, 25, 1), rgba(255, 149, 25, 0.1));
}
