body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	vertical-align: top;
	}

button {
	background-color: #0080c4;
	border: 1;
	height: 33px;
	width: 33px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	}

p {
	margin: 20px 0;
	}

#wrapper {
	width: 100%;
	margin: auto;
	}

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: 15% 60% 25%;
    background-image: url('black_and_white.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	}

#logo {
	margin-left: auto;
    margin-right: auto;
	}

header ul {
    text-align: center;
    width: 100%;
    }

header ul li {
    display: inline-block;
    padding: 5px;
    }

header ul li a {
    padding: 20px;
    font-family: 'Oswald';
    color: #042552;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 25px;
    text-decoration: none;
    display: block;
    }

header ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: #ff9519;
    border-radius: 20px;
    }

.search_text {
    width: 250px;
    height: 25px;
    font-size: 16px;
    }

form[name="search"] {
    margin-top: auto;
    margin-bottom: auto;
	margin-left: auto;
    margin-right: auto;
	}

aside {
	background-image: url('water.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	}

h1 {
	display: inline-block;
	color: #f3f3f3;
	font: 30px/30px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	}

h2 {
	display: inline-block;
	color: #f3f3f3;
	font: 20px/20px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	}

h3 {
	display: inline-block;
	color: #f3f3f3;
	font: 18px/18px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	}

h4 {
	display: inline-block;
	color: #f3f3f3;
	font: 16px/16px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	}

h5 {
	display: inline-block;
	color: #042552;
	font: 24px/24px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	}

section {
    background-color: #000000;
    background-image: url('cube.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
    }

.glass-container-news {
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
  margin: 10px 10px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  backdrop-filter: blur(20px); /* Эффект матового стекла */
  width: 100%;
  max-width: 250px;
  }

.glass-container-news:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
  }

#news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    }

.glass-container-new {
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(255, 255, 255, 0.2); /* Цвет фона с прозрачностью */
  margin: 10px 10px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  backdrop-filter: blur(20px); /* Эффект матового стекла */
  }

if( $(document).height() <= $(window).height() ){
  $(".page-footer").addClass("fixed-bottom");
}
.page-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url('tetris.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;

}

.page-footer.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url('tetris.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;

}

#logo_white {
margin-left: auto;
margin-right: auto;
    }

#footer_text {
    margin-left: auto;
    margin-right: auto;
    }