<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
	    <title>
            {% load custom_filters %}
            {% load custom_tags %}
            {% block extra_head %}
            {% endblock extra_head %}
        </title>
        {% load static %}
        <script src="{% static 'js/script.js' %}"></script>
	    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    </head>
    <body>
        <div id="myNav" class="overlay">
            <div id="myHeaderOverlay" class="main-menuOverlay">
                <span id="bellLogoOverlay">
                    <img src="{% static 'images/logo_rossvik.png' %}"
                         onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                         onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                </span>
                <ul>
                    <li><a href="/home/">ГЛАВНАЯ</a></li>
                    <li><a href="#">КАТЕГОРИИ</a></li>
                    <li><a href="/news/">НОВОСТИ</a></li>
                    <li><a href="/articles/">СТАТЬИ</a></li>
                    <li><a href="/contacts/">КОНТАКТЫ</a></li>
                </ul>
                <div class="search-container-overlay">
                    <input type="text" name="q" placeholder="Поиск" class="search-text">
                    <button type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </div>
            <a href="javascript:void(0)" class="closeBtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="#">О Нас</a>
                <a href="#">Услуги</a>
                <a href="#">Клиенты</a>
                <a href="#">Контакт</a>
            </div>
        </div>

        <div id="myFilter" class="filter">
            <div id="myFilterLogo" class="filter-logo">
                <span id="bellLogoFilter">
                    <img src="{% static 'images/logo_rossvik.png' %}"
                         onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                         onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                </span>
            </div>
            <a href="javascript:void(0)" class="closeBtnFilter" onclick="closeFilter()">&times;</a>
            <div class="filter-content">
                {% block filters %}
                {% endblock filters %}
            </div>
            <div id="myFilterButton" class="filter-button">
                {% block filters_button %}
                {% endblock filters_button %}
            </div>
        </div>

        <div id="wrapper">
            <header>
                <div id="myHeader" class="main-menu">
                    <span id="bellLogo">
                        <img src="{% static 'images/logo_rossvik.png' %}"
                             onmouseover="this.src='{% static 'images/logo_rossvik_color.png' %}';"
                             onmouseout="this.src='{% static 'images/logo_rossvik.png' %}';" />
                    </span>
                    <ul>
                        <li><a href="/home/">ГЛАВНАЯ</a></li>
                        <li><a href="#" onmouseover="openNav()">КАТЕГОРИИ</a></li>
                        <li><a href="/news/">НОВОСТИ</a></li>
                        <li><a href="/articles/">СТАТЬИ</a></li>
                        <li><a href="/contacts/">КОНТАКТЫ</a></li>
                    </ul>
                    <div class="search-container">
                        <input type="text" name="q" placeholder="Поиск" class="search-text">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </header>
            <aside>
                {% block title_page_top %}
                    <h1> АВТОРИЗАЦИЯ </h1>
                {% endblock title_page_top %}
            </aside>
            <section>
                <div class="allauth-form-class">
                    {% block body %}
                    <div class="allauth-content-class">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    {% endblock body %}
                </div>
                <div class="allauth-extra_body-class">
                    {% block extra_body %}
                    {% endblock extra_body %}
                </div>
            </section>
        </div>
	    <footer class="page-footer">
            <div id="logoWhite" class="logoWhiteFooter">
                <img src="{% static 'images/logo_rossvik_white.png' %}">
            </div>
            <div class="footerText">
                <span class="headerFooter">
                    © Студия разработки «ROSSVIK MOSCOW» {% current_time '%Y' %}<br>
                </span>
                <span class="contactFooter">
                        +7-977-900-7773 сотовый<br>
                        +7-495-215-0003 многоканальный<br>
                        +7-800-333-2260 бесплатные звонки по России<br>
                        E-mail: iv@rossvik.moscow<br>
                </span>
            </div>
        </footer>
    </body>
</html>